edit landmark
<form action="/landmarks/<%@landmark.id%>" method="post">
  <%=@landmark.name%><br>
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label for="name">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="name">
  <%=@landmark.year_completed%><br>
  <label for="year_completed">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="year_completed">
  <input type="submit" value="Edit Landmark">
</form>
